@model LoginViewModel

@{ ViewData["Title"] = "Login"; }

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/site.css" />
</head>

<<body>

    <div class="row">
        <div class="col-md-6">
            <h1>Log in</h1>
            <hr />
            <form class="form panel__login-form has-validation-callback" method="post" asp-controller="Account" asp-action="Login"
                  asp-route-returnUrl="@Model.ReturnUrl">
                <div asp-validation-summary="ModelOnly"></div>
                <div class="form-group">
                    <label asp-for="UserName"> Name </label>
                    <input asp-for="UserName" class="form-control" />
                    <span asp-validation-for="UserName" class="text-danger field-validation-valid"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password">Password</label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger field-validation-valid"></span>
                </div>
                <div class="form-group">
                    <label asp-for="RememberMe"></label><br />
                    <input asp-for="RememberMe" />
                </div>
                <div class="form__row">
                    <input type="submit" class="form__submit" value="Войти" />
                </div>
                <div>
                    <a class="text-black-50" asp-controller="Account" asp-action="ForgotPassword">Forgot password?</a>
                </div>
            </form>

        </div>

        <div class="col-md-6">
            <h1>External Login</h1>
            <hr />
            @{ if (Model.ExternalLogins.Count == 0)
                            {
                                <div>No external logins configured</div>
                            }
                            else
                            {
                                <form asp-controller="Account" asp-action="ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl">
                                    <div>
                                        @foreach (var provider in Model.ExternalLogins)
                                        {
                                            <button type="submit" class="btn btn-primary"
                                                    name="provider" value="@provider.Name"
                                                    title="Login using your @provider.DisplayName account">
                                                @provider.DisplayName
                                            </button>

                                        }
                                    </div>
                                </form>
                            } }
        </div>
    </div>





    <script src="/lib/jquery/dist/jquery.min.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/js/site.js?v=4q1jwFhaPaZgr8WAUSrux6hAuh0XDg9kPS3xIVq36I0"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.26/jquery.form-validator.min.js"></script>
    <script src="./script.js"></script>

    <script src="/Identity/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="/Identity/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>




</body>

